{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>SCHIBSTED</h1>
            <h2>Test application</h2>
        </div>

        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#varnish" data-toggle="tab">VarnishLog</a></li>
                    <li><a href="#rss" data-toggle="tab">Rss feed</a></li>
                    <li><a href="#json" data-toggle="tab">Json feed</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="varnish">
                        <h2>Varnish log</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3>Top hosts</h3>
                                        <div id="varnishTopHosts">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3>Top files</h3>
                                        <div id="varnishTopFiles">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="rss">
                        <h2>Rss feed</h2>
                        <div class="panel panel-default">
                            <div id="rss-content" class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="json">
                        <h2>JSON feed</h2>
                        <div class="panel panel-default">
                            <div id="json-content" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('assets/js/index/varnish.js') }}"></script>
    <script src="{{ asset('assets/js/index/rss.js') }}"></script>
    <script src="{{ asset('assets/js/index/json-feed.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}
